@import 'tailwindcss';
@plugin "daisyui";
@plugin "tailwindcss-motion";
@plugin "tailwindcss-intersect";


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
--font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
'Segoe UI Symbol', 'Noto Color Emoji';
}

.shadow-custome {
box-shadow:
0 18px 30px -12px rgba(0, 0, 0, 0.35), /* bottom */
0 6px 12px -8px rgba(0, 0, 0, 0.18), /* mid */
0 0 8px 0 rgba(0, 0, 0, 0.08);
/* sides */
}




@keyframes elasticPop {
0% {
opacity: 0;
transform: translateX(60px) scaleX(0.85);
}
65% {
opacity: 1;
transform: translateX(-15px) scaleX(1.18);
}
82% {
transform: translateX(8px) scaleX(0.90);
}
100% {
opacity: 1;
transform: translateX(0) scaleX(1);
}
}

.animate-elastic-pop {
animation: elasticPop 0.75s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.delay-100 { animation-delay: 0.10s;
}
.delay-150 { animation-delay: 0.15s;
}
.delay-200 { animation-delay: 0.20s;
}
.delay-250 { animation-delay: 0.25s;
}
.delay-300 { animation-delay: 0.30s;
}
.delay-350 { animation-delay: 0.35s;
}


.active-link span {
width: 100% !important;
}